* {
  margin: 0;
  padding: 0;
  font-family: 'Graduate', serif;
  user-select: none;
}

body {
  background: linear-gradient(
    180deg,
    rgb(0, 10, 24) 0%,
    rgb(1, 43, 105) 50%,
    rgb(1, 97, 161) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  color: white;
}

h1 {
  font-size: 6rem;
  padding-top: 50px;
  margin-bottom: 4rem;
  color: rgb(147, 159, 172);
  text-shadow: 2px 2px 5px white;
  animation: animateHeaderTextShadow 2s ease-in-out infinite;
}

@keyframes animateHeaderTextShadow {
  0% {
    text-shadow: 2px 2px 5px white;
  }
  50% {
    text-shadow: 2px 2px 5px white, 2px 2px 5px white;
  }
  100% {
    text-shadow: 2px 2px 5px white;
  }
}

#board-section {
  width: 100%;
  margin-left: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#board {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: calc(500px / 8);
  height: calc(500px / 8);
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  cursor: pointer;
  transition: 1s ease-in-out;
}

.black {
  background-color: rgb(128, 128, 128);
  color: white;
}

.white {
  background-color: rgb(251, 236, 201);
  color: black;
}

#btn-section {
  display: flex;
  padding-bottom: 2rem;
  gap: 1rem;
  margin-top: 4rem;
}

.btn {
  height: 6rem;
  width: 6rem;
  border-radius: 5px;
  border: 0px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  transform: scale(1);
}

.btn:hover,
.btn:focus {
  transform: scale(1.2);
  outline: none;
}

.btn:active {
  transform: scale(0.8);
}

#place-knight-btn {
  background: url(../Icons/placeKnight.png) no-repeat center;
  background-size: cover;
}

#place-random-knight-btn {
  background: url(../Icons/randomKnight.png) no-repeat center;
  background-size: cover;
}

#select-destination-btn {
  background: url(../Icons/destination.png) no-repeat center;
  background-size: cover;
}

#reset-btn {
  background: url(../Icons/reset.png) no-repeat center;
  background-size: cover;
}

#travail-btn {
  background: url(../Icons/travail.png) no-repeat center;
  background-size: cover;
}

#knight {
  height: calc(500px / 8);
  width: calc(500px / 8);
  background-size: cover;
}

.hidden {
  display: none;
}

.destination {
  background-color: rgb(148, 3, 42);
}

.notation {
  color: white;
  font-size: 2rem;
}

#notation-numbers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 475px;
  width: 20px;
  padding: 10px;
}

#notation-letters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 450px;
  height: 20px;
  padding: 10px;
  margin-left: 2.5rem;
}

@media screen and (max-width: 900px) {
  h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
  #board {
    width: 350px;
    height: 350px;
  }

  .square {
    width: calc(350px / 8);
    height: calc(350px / 8);
  }

  #knight {
    height: calc(350px / 8);
    width: calc(350px / 8);
  }

  #btn-section {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
  }

  .btn {
    height: 4rem;
    width: 4rem;
  }

  .notation {
    color: black;
    font-size: 1.5rem;
  }

  #notation-numbers {
    height: 330px;
    width: 20px;
    padding: 10px;
  }

  #notation-letters {
    width: 320px;
    height: 20px;
    padding: 10px;
    margin-left: 2.5rem;
  }
}
